### Personal
config.yml
config.json
*.log*
*.pickle

### Distribution
*.egg-info/

### Testing
.pytest_cache/
.ipynb_checkpoints/
.venv
env
venv
.idea/
.vscode/
.ycm_extra_conf.py
foreanalyzer/data/
data_analysis/

### Cache
__pycache__/
*.swp
